body{
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    width: 70%;
    background-image:linear-gradient(#CBF1F5,#95E1D3);
    margin: auto;
    
}
h2{
    text-align: center;
}

.sec_2 p img{
    height: 450px;
    width: 700px;
    display: absolute;
    left: 9rem;
    align-content: center;
    justify-content: center;
    padding-left: 13.4rem;
    margin-right: 6rem;
    
}
li{
    list-style: decimal;
}
li li{
    list-style: square;
}
